@use "./variables" as *;

.pricing {
    display: flex;
    flex-direction: row;
    background-color: $primary-bg;
    column-gap: 50px;
    row-gap: 100px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;

    

    &__card {
        
        &:first-child:hover {
            box-shadow: 0 0 50px 15px $bronze-card;
        }
        &:last-child:hover {
            box-shadow: 0 0 50px 15px rgb(122, 104, 2);
        }

        &:nth-child(2):hover {
            box-shadow: 0 0 50px 15px silver;
        }
        border: 5px solid $secondary-color;
        background-color: $white-text;
        width: 80%;
        max-width: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transition: transform 2s ease, box-shadow 1.5s ease, background-color 1.5s ease, border-color 1.5s ease;

        &:hover {
            background-color: $primary-bg;
            border-color: $white-text;
            box-shadow: 0 0 50px 15px $primary-color;
            transform: scale(1.1);

            & * {
            
                color: $white-text;
            }
      
        }
        
      
        & * {
            color: $secondary-color;
        }
        
    }

    &__btn{
        width: 20%;
        height: 2rem;
        border-radius: 2px;
        color: $white-text;
        background-color: $primary-color;
        background: transparent;
        color: $primary-color;
        border: transparent;
        font-size: 1rem;
        font-weight: bold;

    }

    &__info-list {
       list-style: none;
       text-align: center;
       padding: 0;
    
    }

    &__info-item {
        margin-top: 20px;
        text-align: center;
        vertical-align: bottom;

        &:first-child {
            border-top: 5px solid $primary-color;
            margin: 0 20px;
            padding-top: 25px;
            
        }
    }
}