

$light-text: #D0D0D0;
$primary-color: #116466;
$secondary-color:#2c3531;
$third-color:#ffcb9a;
$bg-color: #F8F8F8;
$white-text: white;
$primary-bg: #1F2833;
$bronze-card: #cd8c32;
$error-color: red;