@use "./partials/navbar" as *;
@use "./partials/pricing" as *;
@use "./partials/variables" as *;
@use "./partials/login" as *;
@use "./partials/portfolio" as *;
@use "./partials/invest" as *;
@use "./partials/register" as *;

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $primary-bg;
    width: 100%;
    height: 100%;
}

